@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
    font-family: "Poppins";
}

.main {
    width: 100%;
    background-color: blanchedalmond;
    height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.main .menu-bar {
    position: absolute;
    top: 0;
    right: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background-color: darkred;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 32px;
}

.menu-bar .fa-bars-staggered {
    color: white;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 60px;
    right: 0;
    /* height: 100px; */
    width: 120px;
    background-color: rgb(0, 118, 139);
    z-index: 1;
    transform: translateY(-200px);
    transition: 0.3s all ease-out;
}

.menu.active {
    transform: translateY(0px);
}

.main nav ul {
    display: flex;
    flex-direction: column;
}

.main nav li {
    padding: 16px 16px;
    text-align: right;
    cursor: pointer;
    transform: translateX(0);
    transition: 0.6s all cubic-bezier(.41,1.48,.23,1.25);
}


.main nav li:hover{
    background-color: brown;
    transform: translateY(30px);
}

.main nav a {
    color: white;
    text-decoration: none;
}


.animation-container{
    width: 100%;
    height: 400px;
    background: white;
}

.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    /* animation-name: moveBall;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both; */
}

.square{
    width: 50px;
    height: 50px;
    background-color: rgb(212, 32, 179);
    animation-name: moveSquare;
    animation-duration: 3s;
    /* animation-timing-function: ease-out; */
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    /* transform-origin: center; */
}

@keyframes moveSquare{
    0%{
        transform: rotate(0deg) translateX(0px);
        background-color: yellow;
    }

    40%{
        transform: rotate(360deg);
        background-color: brown;
    }

    100%{
        transform: rotate(0deg) translateX(100px);
        background-color: yellow;
    }
}




@keyframes moveBall{
    0%{
        transform: translateX(0px);
    }

    30%{
        transform: translateX(400px);
    }


    60%{
        transform: translateY(200px);
    }

    100%{
        transform: translateY(0px);
        transform: translateX(100px);
    }
}

.main .box {
    height: 100px;
    background-color: darkred;
}

footer {
    padding: 48px 0;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

footer article {
    border: 1px solid grey;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 640px) {
    .menu-bar i {
        display: none;
    }

    .menu {
        transform: translateY(0);
        width: 100%;
    }

    .main nav ul {
        flex-direction: row;
        justify-content: center;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        grid-template-areas: 
            "item1 item2 item3"
            "item4 item5 item3";
        align-items: stretch;
    }

    footer article {
        border: 1px solid grey;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer article:nth-child(1){
        grid-area: item1;
    }
    footer article:nth-child(2){
        grid-area: item2;
    }
    footer article:nth-child(3){
        grid-area: item3;
        background: white;
    }
    footer article:nth-child(4){
        grid-area: item4;
    }
    footer article:nth-child(5){
        grid-area: item5;
    }
}