@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
    font-family: "Poppins";
}

.main {
    width: 100%;
    background-color: blanchedalmond;
    height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.main .menu-bar {
    position: absolute;
    top: 0;
    right: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background-color: darkred;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 32px;
}

.menu-bar .fa-bars-staggered {
    color: white;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 60px;
    right: 0;
    /* height: 100px; */
    width: 120px;
    background-color: rgb(0, 118, 139);
    z-index: 1;
    transform: translateY(-200px);
    transition: 0.3s all ease-out;
}

.menu.active {
    transform: translateY(0px);
}

.main nav ul {
    display: flex;
    flex-direction: column;
}

.main nav li {
    padding: 16px 16px;
    text-align: right;
    cursor: pointer;
}

.main nav a {
    color: white;
    text-decoration: none;
}


.main .box {
    height: 100px;
    background-color: darkred;
}

footer {
    padding: 48px 0;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

footer article {
    border: 1px solid grey;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 640px) {
    .menu-bar i {
        display: none;
    }

    .menu {
        transform: translateY(0);
        width: 100%;
    }

    .main nav ul {
        flex-direction: row;
        justify-content: center;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        grid-template-areas: 
            "item1 item2 item3"
            "item4 item5 item3";
        align-items: stretch;
    }

    footer article {
        border: 1px solid grey;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer article:nth-child(1){
        grid-area: item1;
    }
    footer article:nth-child(2){
        grid-area: item2;
    }
    footer article:nth-child(3){
        grid-area: item3;
        background: white;
    }
    footer article:nth-child(4){
        grid-area: item4;
    }
    footer article:nth-child(5){
        grid-area: item5;
    }
}