@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
    font-family: 'Poppins';
}

#top-grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
    grid-template-areas:
        "item1 item2 item5"
        "item3 item4 item5"
        "item7 item6 item5";
}

#top-grid-container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    gap: 8px;
}

#top-grid-container article:nth-child(3n-1) {
    background-color: brown;
}

#top-grid-container article:nth-child(1) {
    grid-area: item1;
}

#top-grid-container article:nth-child(2) {
    grid-area: item2;
}

#top-grid-container article:nth-child(3) {
    grid-area: item3;
}

#top-grid-container article:nth-child(4) {
    grid-area: item4;
}

#top-grid-container article:nth-child(5) {
    grid-area: item5;
}

#top-grid-container article:nth-child(6) {
    grid-area: item6;
}

#top-grid-container article:nth-child(7) {
    grid-area: item7;
}

#top-grid-container article i {
    color: white;
}

#top-grid-container article h1 {
    font-size: 2em;
    font-weight: 600;
    text-shadow: 1px 1px 5px white,
        -1px -1px 5px white,
        -1px 1px 5px white,
        1px -1px 5px white;
}


@media screen and (max-width:640px) {
    #top-grid-container {
        grid-template-areas:
            "item1 item1 item5"
            "item1 item1 item5"
            "item7 item6 item5";
    }

    #top-grid-container article {
        background-color: yellowgreen;
    }

    #top-grid-container article:nth-child(2) {
        display: none;
    }

    #top-grid-container article:nth-child(3) {
        display: none;
    }

    #top-grid-container article:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width:480px){
    #top-grid-container article {
        background-color:aquamarine;
    }
}