@use 'base';

header {
    width: 100%;
    height: 30px;
    background-color: base.$primary-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    cursor: pointer;

    &:hover {
        nav {
            transform: translateY(30px);

            li {
                background-color: rgba(base.$third-color, 1);
                border-radius: base.$radius-default;
            }
        }
    }

    nav {
        transform: translateY(-200px);
        transition: 0.3s all ease-in;

        li {
            list-style: none;
            background-color: rgba(base.$third-color, 0);
            padding: base.$padding-default/2 base.$padding-default;
            transition: 1s all linear;

            &:hover {
                background-color: base.$primary-color;
            }

            a {
                text-decoration: none;
                color: base.$secondary-color;
            }
        }
    }
}

@media screen and (min-width: 640px) {
    i.fa-bars-staggered {
        display: none;
    }

    header {
        nav {
            display: flex;
            flex-direction: row;
            transform: translateY(0px);
        }
    }
}